*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  background-color: blueviolet;
}
img{
  width: 800px;
  height: 400px;
}

div{
  display: flex;
  text-align: center;
  flex-direction: column;
}